<aside class="border-right bg-light" style="width:240px; min-height: calc(100vh - 54px);">
  <div class="p-3">
    <ul class="nav nav-pills flex-column">
      <li class="nav-item"><a class="nav-link" routerLink="/admin">Tổng quan</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/admin/categories">Danh mục sản phẩm</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/admin/products" routerLinkActive="active">Danh sách sản phẩm</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/admin/orders">Danh sách đơn hàng</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/admin/roles">Nhóm quyền</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/admin/roles/permissions">Phân quyền</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/admin/accounts">Danh sách tài khoản</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/admin/users">Danh sách người dùng</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/admin/settings/general">Cài đặt chung</a></li>
    </ul>
  </div>
</aside>
